# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.tmp

examples/
get_full_package_context.py
concat_files.py
concatenated_project_summary.txt
vibroml_full_package_context.txt
ga_recovery.py
evaluate_all.py
